body {
}
.wrap-content{
  margin: 50px;
  padding-top: 10px;
}
.home-content{
  margin: 50px;
  padding-top: 20px;
  max-width: 1000px;
}
.home-header{
  padding-top: 120px;
  padding-bottom: 80px;
  background-color: black;
  color: white;
}
