---
layout: default
---
<div align="center">
  <section class="home-header">
    <img width="200px" height="200px" src="img/logo.svg"/>
  <h1>Dasom</h1>
  <h3>A multilingual input method framework<h3>
    <a href="{{ "/about/" | prepend: site.baseurl }}">
    <button type="button" class="btn btn-lg btn-default">Learn More</button>
  </a>
  <a href="{{ "/get-dasom/" | prepend: site.baseurl }}">
    <button type="button" class="btn btn-lg btn-default">Get Dasom</button>
  </a>
  </section>
  <div class="home-content">
  <h2>News</h2>
  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%Y.%m.%d" }}{% if post.author %} | {{ post.author }} {% endif %}</span>
      </li>
    {% endfor %}
  </ul>
  </div>
</div>
