---
layout: default
title : News
permalink: /news/
---
<div align="center">
  <div class="home-content">
  <h2>News</h2>
  <ul class="post-list">
    {% for post in site.posts limit:20 %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%Y.%m.%d" }}{% if post.author %} | {{ post.author }}{% endif %}</span>
        <p>{{ post.content | strip_html | truncatewords:50 }}</p>
      </li>
    {% endfor %}
  </ul>
  <a href="{{ "/archive/" | prepend: site.baseurl }}"><button type="button" class="btn btn-default btn-lg">Go To News Archive</button></a>
  </div>
</div>
