---
layout: default
---
<div class="wrap-content">
<div class="page-header">
  <h1>{{ page.title }}<br><small>{{ page.date | date: "%b %-d, %Y" }}</small></h1>
</div>
{% if page.author %} {{ page.author }} {% endif %}
{{ content }}
</div>
<!-- Pagination links -->
{% if page.previous.url %}
<h3><a href="{{page.previous.url}}" style="color:white;">{{ page.previous.title }}</a><h3>
<p>{{ page.previous.date | date: "%Y.%m.%d" }}</p>


{% else %}
{% endif %}
{% if page.next.url %}

<h3><a href="{{page.next.url}}" style="color:white;">{{ page.next.title }}</a><h3>
<p>{{ page.previous.date | date: "%Y.%m.%d" }}</p>
{% else %}
{% endif %}
